<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swifter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64E9ECEA2C7DA39700B7C473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64E9ECFA2C7DA39800B7C473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64E9ED042C7DA39800B7C473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
